body{
  background-color: rgb(222, 222, 222);
}
.section {
  padding-top: 80px;
}
.profile-preview {
  display: flex;
 align-items:center;
 justify-content: center;
}
.home-img .img-box{
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}
.home-img .img-box .img-item{
  position: relative;
 width: 100%;
 height: 100%;

 border-radius: 50%;
 display: flex;
 justify-content: center;
 overflow: hidden;
}
.home-img .img-box .img-item img {
  position: absolute;
  display: block;
  width: 100%;
  object-fit: cover;
}
.profile-text-button {
  margin-left: 30px;
}

.profile-text-button .author {
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  color: rgb(165, 107, 0) ;
  margin-bottom: 0;
}
.profile-text-button .title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;

}
.profile-text-button .about {
  background-color: rgb(222,222,222);
  font-family: Arial;
  font-size: 14px;
  width: 300px;
  background-color: rgb(222,222,222);
  line-height: 20px;
  margin-bottom: 0;
}
.title,
.author {
  cursor: pointer;
}
.about {
  background-color: rgb(222,222,222);
}
.buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.x-button,
.instagram-button,
.github-button,
.linkedin-button,
.facebook-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: white;
border-style: solid;
border-width: 2px;
border-radius: 20px;
margin-left: 10px;
padding-left: 0;
padding-right: 0;
cursor: pointer;
}
.x-button,
.instagram-button {
background-color: white;
height: 35px;
border-style: solid;
border-width: 2px;
border-radius: 8px;
padding: 0;
cursor: pointer;
}
.linkedin-logo,
.github-logo,
.facebook-logo {
  height: 33px;
}
.x-logo,
.instagram-logo {
  height: 33px;
  padding: 0;
  margin: 0;
}
.x-button:hover,
.github-button:hover,
.linkedin-button:hover,
.facebook-button:hover,
.instagram-button:hover {
  height: 35px;
  border-color: rgb(0, 255, 0);
  padding: 0;
}
.x,
.github,
.linkedin,
.facebook,
.instagram {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x-tooltip,
.github-tooltip,
.linkedin-tooltip,
.facebook-tooltip,
.instagram-tooltip {
  position: absolute;
  bottom: -30px;
  background-color: gray;
  color: white;
  font-size: 12px;
  font-family: Arial;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}
.x:hover .x-tooltip,
.github:hover .github-tooltip,
.linkedin:hover .linkedin-tooltip,
.facebook:hover .facebook-tooltip,
.instagram:hover .instagram-tooltip {
  opacity: 1;
}
.designs-experience {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.experience-div {
  margin-left: 100px;
  margin-right: 100px;
}

  

.designs,
.experience,
.contact-info {
  display: flex;
  justify-content:center;
  align-items:center;
  color: orangered;
  cursor: pointer;
}
ul li {
  cursor: pointer;
}
.phone,
.email,
.whatsapp-text {
 font-family: Arial;
 font-weight: 500;
 font-size: 14px;
  cursor: pointer;
}
footer {
  background-color: rgb(232, 136, 92);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.bottom-bar {
  display: flex;
  align-items:center;
  justify-content:center;
  font-family: Arial;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
