.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(222,222,222);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
 padding-left: 25px;
 padding-right: 25px;
 z-index: 100;
 border-bottom-style: solid;
 border-bottom-color: rgb(192, 192, 192);
 border-bottom-width: 1px;
}
.logo {
  font-family: Arial;
  font-size: 25px;
  font-weight: 700;
  color: black;
 

  text-decoration: none;
}
.navbar ul {
  display: flex;
}
.navbar ul li a {
   font-family: Arial;
   font-size: 16px;
   color: gray;
  text-decoration: none;
  margin-left: 20px;
   
 
}
.navbar ul li {
  list-style: none;
}
.home,
.contact,
.service,
.portfolio,
.about{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about:hover,
.portfolio:hover,
.service:hover,
.contact:hover,
.home:hover {
  background-color: white;
}
.home .home-tooltip,
.contact .contact-tooltip,
.service .service-tooltip,
.portfolio .portfolio-tooltip,
.about .about-tooltip {
  position: absolute;
  background-color: gray;
  color:white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  bottom: -30px;
  right: 0;
  font-family: Arial;
  font-size: 14px;
  white-space: nowrap;
   opacity: 0;
   pointer-events: none;
}
.home:hover .home-tooltip,
.contact:hover .contact-tooltip,
 .service:hover .service-tooltip,
.portfolio:hover .portfolio-tooltip, 
.about:hover .about-tooltip{
  opacity: 1;
}

